/* OOCSS */
@charset "utf-8";

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.main_flex {
  display: flex;
  margin-bottom: 60px;
}

.keyvisual {
  width: 50%;
}

.keyvisual img {
  width: 100%;
  height: 700px;
  object-fit: cover;
  vertical-align: bottom;
}

img {
  max-width: 100%;
}

.main_text {
  width: 50%;
  padding: 40px 5% 0;
}

.main_title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

.material_title {
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin: 40px 0 15px 0;
}

.material {
  display: flex;
  flex-wrap: wrap;
}

.step_title {
  font-size: 1.25rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin: 40px 0 15px 0;
}

.main_text ol li {
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
  margin-left: 20px;
}

.material dt {
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
  width: 85%;
}

.material dd {
  border-bottom: 1px dotted #ccc;
  padding: 6px 0;
  text-align: right;
  width: 15%;
}

.btn {
  text-align: center;
  margin-bottom:80px;
}

.btn a {
  display: inline-block;
  border: solid 1px #2b2a27;
  font-size: 0.875rem;
  padding: 18px 60px;
  text-decoration: none;
}

body {
  color: #2b2a27;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Meiryo", sans-serif;
}

.link_list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

ul {
  list-style: none;
}

.link_list li {
  margin: 0 10px;
}

a {
  color: #2b2a27;
}

footer {
  text-align: center;
  font-size: 0.75rem;
  padding: 20px;
}

@media screen and (max-width: 600px) {

  .main_flex {
    flex-direction: column;
  }

  .keyvisual {
    width: 100%;
  }

  .keyvisual img {
    object-fit: fill;
  }

  .main_text {
    width: 100%;
  }

}